@tailwind base;
@tailwind components;
@tailwind utilities;

/* nprogress style overrides */
#nprogress  .bar {
    background: oklch(var(--p) / 1) !important;
}

/* reactflow style overrides */
.react-flow__attribution{
    background-color:  transparent !important;
}

.react-flow__controls-button{
    background-color: oklch(var(--b3)) !important;
    border-color: oklch(var(--b1)) !important;
    color: oklch(var(--bc)) !important;
    fill: oklch(var(--bc)) !important;
}

.react-flow__minimap{
    background-color: oklch(var(--b1)) !important;
}

.react-flow__minimap-mask,
.react-flow__minimap-node{
    fill: oklch(var(--b3)) !important;
}

/* editor js style overrides */
.codex-editor .codex-editor__redactor {
    padding-bottom: 0 !important;
}

.codex-editor textarea.ce-code__textarea ,
.codex-editor code{
    background-color: oklch(var(--b2)) !important;
    color: oklch(var(--bc)) !important;
}

.codex-editor .ce-toolbar__actions svg{
    color: oklch(var(--bc)) !important;
}

.codex-editor .ce-toolbar__actions > *:hover{
    background-color: oklch(var(--bc)/.1) !important;
}

.codex-editor .ce-toolbar__actions > *{
    background-color: transparent;
    border-color: transparent;
}

.codex-editor .ce-popover {
    --color-background : oklch(var(--b1)) !important;
    --color-border: oklch(var(--b2)) !important;
    --color-text-primary: oklch(var(--bc)) !important;
    --color-background-item-confirm: oklch(var(--er)) !important;
    --color-background-item-confirm-hover: oklch(var(--nf)/.7) !important;
    --color-shadow: oklch(var(--b2)/.2) !important;
    --color-text-icon-active: oklch(var(--p)) !important;
}

.codex-editor .ce-popover__search ,
.codex-editor .cdx-button{
    background-color : oklch(var(--b1)) !important;
    color: oklch(var(--bc)) !important;
}

.codex-editor .ce-popover__search svg {
    color: currentColor !important;
    fill: none !important;
    stroke: none;
}

.codex-editor .ce-popover-item:hover {
    background-color : oklch(var(--b2)) !important;
}

.codex-editor .ce-popover-item__title:hover {
    color: oklch(var(--bc)) !important;
}

.codex-editor .ce-popover-item__icon {
    background-color : oklch(var(--b1)) !important;
}

.codex-editor .ce-block--selected .ce-block__content {
    background-color : oklch(var(--nf)/.3) !important;
}