@tailwind base;
@tailwind components;
@tailwind utilities;

/* nprogress style overrides */
#nprogress  .bar {
    background: oklch(var(--p) / 1) !important;
}

/* reactflow style overrides */
.react-flow__attribution{
    background-color:  transparent !important;
}

.react-flow__controls-button{
    background-color: oklch(var(--b3)) !important;
    border-color: oklch(var(--b1)) !important;
    color: oklch(var(--bc)) !important;
    fill: oklch(var(--bc)) !important;
}

.react-flow__minimap{
    background-color: oklch(var(--b1)) !important;
}

.react-flow__minimap-mask,
.react-flow__minimap-node{
    fill: oklch(var(--b3)) !important;
}

/* editor js style overrides */
.codex-editor .codex-editor__redactor {
    padding-bottom: 0 !important;
}

.codex-editor textarea.ce-code__textarea ,
.codex-editor code{
    background-color: oklch(var(--b2)) !important;
    color: oklch(var(--bc)) !important;
}

.codex-editor .ce-toolbar__actions svg{
    color: oklch(var(--bc)) !important;
}

.codex-editor .ce-toolbar__actions > *:hover{
    background-color: oklch(var(--bc)/.1) !important;
}

.codex-editor .ce-toolbar__actions > *{
    background-color: transparent;
    border-color: transparent;
}

.codex-editor .ce-popover {
    --color-background : oklch(var(--b1)) !important;
    --color-border: oklch(var(--b2)) !important;
    --color-text-primary: oklch(var(--bc)) !important;
    --color-background-item-confirm: oklch(var(--er)) !important;
    --color-background-item-confirm-hover: oklch(var(--nf)/.7) !important;
    --color-shadow: oklch(var(--b2)/.2) !important;
    --color-text-icon-active: oklch(var(--p)) !important;
}

.codex-editor .ce-popover__search ,
.codex-editor .cdx-button{
    background-color : oklch(var(--b1)) !important;
    color: oklch(var(--bc)) !important;
}

.codex-editor .ce-popover__search svg {
    color: currentColor !important;
    fill: none !important;
    stroke: none;
}

.codex-editor .ce-popover-item:hover {
    background-color : oklch(var(--b2)) !important;
}

.codex-editor .ce-popover-item__title:hover {
    color: oklch(var(--bc)) !important;
}

.codex-editor .ce-popover-item__icon {
    background-color : oklch(var(--b1)) !important;
}

.codex-editor .ce-block--selected .ce-block__content {
    background-color : oklch(var(--nf)/.3) !important;
}


@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

.scrollbar{
    &::-webkit-scrollbar {
        width: 15px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: oklch(var(--b3, var(--b2)) / 1);
    }

    &::-webkit-scrollbar-thumb {
        background: oklch(var(--b1) / var(--tw-bg-opacity, 1));
        border-radius: 100vh;
        border: 3px solid oklch(var(--b3, var(--b2)) / 1);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: oklch(var(--b1) / var(--tw-bg-opacity, .6));
    }
}
/*
@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

*/